pytest==8.3.4
pylint==3.3.4
black==25.1.0
numpy==2.2.3
ipykernel==6.29.5
matplotlib==3.10.0
tqdm==4.67.1
sympy==1.13.3
click==8.1.8
fastapi==0.115.8
uvicorn==0.34.0
httpx==0.28.1
streamlit==1.42.1
plotly==6.0.0
pandas==2.2.3